<h1>Dashboard</h1>


 <table class="table table-hover">
 	<thead>
	  <th><h4>KPI</h4></th>
	  <th><h4>Forma calculo</h4></th>
	  <th><h4>Porcentaje</h4></th>
	</tr>
	</thead>
	<tbody>
	  <th><h5>Quiebres de Stocks</h5></th>
	  <th><h5>Quiebre Stock/TotalPedidos</h5></th>
	  <th><h5><%= @quiebres/@pedidos %></h5></th>
	</tbody>
	<tbody>
	  <th><h5>Ventas efectivas</h5></th>
	  <th><h5>Ventas/TotalPedidos</h5></th>
	  <th><h5><%= @ventas/@pedidos %></h5></th>
	</tbody>
	<tbody>
	  <th><h5>Pedidos incorrectos procesados</h5></th>
	  <th><h5>Incorrectos/TotalPedidos</h5></th>
	  <th><h5><%= @pedidos_incorrectos/@pedidos%></h5></th>
	</tbody>
</table> 

<div id="map_show" class="row-fluid"> <!-- Fila superior donde va ubicado el mapa principal -->
  <div class="well well-large mapa"> <!-- Caja donde va el mapa principal -->
    <div id="map_canvas" data-map-output="map">
      <%= render 'maps' %>
    </div>
  </div>
</div>