<h1>Services#show</h1>
<p>Find me in app/views/services/show.html.erb</p>

 <li><%= link_to "Link to Dropbox", '/pricing/authorize' %></li>
 <li><%= link_to "descargar archivo", '/pricing/read_prices' %></li>