<div>"Respuesta Log in"</div>
<div>"----------------------------------------------"</div>
<div><%= @response %></div>

<div>"----------------------------------------------"</div>

<div>" Descripcion modulo primer campo"</div>
<div>"----------------------------------------------"</div>
<div><%= @contactos %></div>

<div>"----------------------------------------------"</div>
<div><%= @c1 %></div>