<div class="jumbotron">
  <div class="row">
    <h1>Bienvenido al proyecto del Grupo 8</h1>
  </div>
  
  <div class="row" style="padding-top:20px;">
    <div class="col-md-6 center">
      <p>Para ir al sitio de eCommerce:</p>
      <p><a href="<%= spree_path %>" class="btn btn-primary btn-lg" role="button">eCommerce</a></p>
    </div>
    <div class="col-md-6 center">
      <p>Para conocer nuestra api revisa la documentación:</p>
      <p><a href="<%= api_docs_path %>" class="btn btn-primary btn-lg" role="button">Documentación API</a></p>
    </div>
  </div>
</div>