.grey {
  background: #d9d9d9;
  padding: 50px 0 30px;
  text-align: center;
  color: #3f3f3f;
}
.normal {
  background: white;
  text-align: center;
  padding: 50px 0 30px;
}

.col-md-offset-0-5{
  margin-left: 6.5%;
}

.chart{
  height:200px;
}
.nav_li.active{
  background: rgba(179, 179, 179, 0.56);
}
#dashboard_nav{
  position: fixed;
  top: 50px;
  left: 17%;
}
#dashboard_body{
  padding-top: 70px;
  padding-bottom: 100px;
}

.w8_button {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin: 15px 0px 0px 15px;
    font-size: 18px;
    text-transform: uppercase;
    background: #008287;
    color: #FFF;
    border: 0px none;
    outline: 0px none;
    height: 200px;
    width: 200px;
}

.w8_button.primary{
  background: #16499a;
}
.w8_button.info{
  background: #4390df;
}
.w8_button.success{
  background: #60a917;
}
.w8_button.warning{
  background: #fa6800;
}
.w8_button.danger{
  background: #9a1616;
}

.w8_button:hover {
    background: #74A599;
}

.w8_button:active {
    background: #F6A953;
}

.w8_button_link{
  vertical-align: middle;
}